/* typography - Default */
// $font-family-sans-serif: Noto Sans TC;
// $headings-font-family: Noto Sans TC;
$headings-font-weight: 700px;
// $display-font-family: Inter;
$display-font-weight: 300px;
$h1-font-size: 34px;
$h2-font-size: 28px;
$h3-font-size: 22px;
$h4-font-size: 20px;
$h5-font-size: 17px;
$h6-font-size: 17px;
$Body-fontSize: 17px;
$Caption-fontSize: 12px;

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 2.125rem,
  4: 1.75rem,
  5: 1.375rem,
  6: 1.0625rem
);


.caption-1 {
  size: .75rem;
  line-height: 1rem;
}

.caption-2 {
  font-size: .6875rem;
  line-height: .8125rem;
  letter-spacing: .0037rem;
}