/* _variables-dark - Value */
:root {
  --primary-text-emphasis-dark: var(--blue-300);
  --border-color: var(--gray-700);
  --primary-bg-subtle-dark: var(--blue-900);
  --primary-border-subtle-dark: var(--blue-800);
  --secondary-text-emphasis-dark: var(--gray-700);
  --secondary-bg-subtle-dark: var(--gray-100);
  --secondary-border-subtle-dark: var(--gray-200);
  --success-text-emphasis-dark: var(--green-300);
  --success-bg-subtle-dark: var(--green-900);
  --success-border-subtle-dark: var(--green-800);
  --info-text-emphasis-dark: var(--cyan-300);
  --info-bg-subtle-dark: var(--cyan-900);
  --info-border-subtle-dark: var(--cyan-800);
  --warning-text-emphasis-dark: var(--yellow-300);
  --warning-bg-subtle-dark: var(--yellow-900);
  --warning-border-subtle-dark: var(--yellow-800);
  --danger-text-emphasis-dark: var(--red-300);
  --danger-bg-subtle-dark: var(--red-900);
  --danger-border-subtle-dark: var(--red-800);
  --light-text-emphasis-dark: var(--gray-100);
  --light-bg-subtle-dark: var(--gray-800);
  --light-border-subtle-dark: var(--gray-700);
  --dark-text-emphasis-dark: var(--gray-300);
  --dark-bg-subtle-dark: var(--gray-900);
  --dark-border-subtle-dark: var(--gray-800);
  --body-color-dark: var(--gray-300);
  --body-bg-dark: var(--gray-900);
  --body-secondary-color-dark: var(--gray-200);
  --body-secondary-bg-dark: var(--gray-800);
  --body-tertiary-color-dark: var(--gray-900);
  --body-tertiary-bg-dark: var(--gray-100);
  --link-color-dark: var(--orange-300);
  --link-hover-color-dark: var(--orange-100);
}