/* _variables - Value */
$white: #FFFFFFFF;
$black: #000000FF;
$body-color: $black;
$body-bg: $white;
$body-secondary-color: $gray-600;
$body-secondary-bg: $gray-50;
$body-tertiary-color: $gray-500;
$body-tertiary-bg: $gray-100;
$primary-text-emphasis: $blue-700;
$primary-bg-subtle: $blue-50;
$primary-border-subtle: $blue-200;
$green: $green-400;
$secondary-text-emphasis: $yellow-700;
$secondary-bg-subtle: $yellow-50;
$secondary-border-subtle: $yellow-200;
$success-text-emphasis: $green-700;
$success-bg-subtle: $green-100;
$success-border-subtle: $green-200;
$info-text-emphasis: $cyan-700;
$info-bg-subtle: $cyan-50;
$info-border-subtle: $blue-200;
$warning-text-emphasis: $orange-700;
$warning-bg-subtle: $orange-50;
$warning-border-subtle: $orange-200;
$danger-text-emphasis: $red-700;
$danger-bg-subtle: $red-50;
$danger-border-subtle: $red-200;
$light-text-emphasis: $gray-700;
$light-bg-subtle: $gray-100;
$light-border-subtle: $gray-200;
$dark-text-emphasis: $gray-700;
$dark-bg-subtle: $gray-400;
$dark-border-subtle: $gray-500;
$primary: $blue-600;
$secondary: $yellow-200;
$success: $green-600;
$info: $cyan-500;
$warning: $orange-300;
$danger: $red-600;
$light: $gray-100;
$dark: $gray-900;
$btn-link-disabled-color: $gray-600;
$border-color: $gray-300;
$link-color: $primary;
$link-hover-color: $blue-700;
$component-active-color: $white;
$component-active-bg: $primary;
$border-radius-sm: 4px;
$border-radius: 8px;
$border-radius-lg: 12px;
$border-radius-xl: 20px;
$border-radius-xxl: 28px;
$border-radius-pill: 800px;
$focus-ring-width: 4px;
$focus-ring-opacity: 0.25px;
$focus-ring-color: #0079A940;
$focus-ring-blur: 0px;
$Songshan: #018659FF;
$button-max-width: 272px;
$tablet-container: 720px;