/* primitives - Mode 1 */
:root {
  --blue-50: #D8FBFFFF;
  --green-50: #D0FFCCFF;
  --yellow-50: #FFF69AFF;
  --yellow-100: #FFE87FFF;
  --yellow-200: #F9DA4AFF;
  --yellow-300: #DEB800FF;
  --yellow-400: #C39700FF;
  --yellow-500: #AC7400FF;
  --yellow-600: #925100FF;
  --yellow-700: #733200FF;
  --yellow-800: #541500FF;
  --yellow-900: #330000FF;
  --yellow-950: #120400FF;
  --green-100: #B4F1B0FF;
  --green-200: #93DE8FFF;
  --green-300: #71CA6DFF;
  --green-400: #4BB748FF;
  --green-500: #009B00FF;
  --green-600: #007E00FF;
  --green-700: #005F00FF;
  --green-800: #004100FF;
  --green-900: #002300FF;
  --green-950: #000900FF;
  --blue-100: #BDE4FCFF;
  --blue-200: #9FCEEBFF;
  --blue-300: #81B8DAFF;
  --blue-400: #62A3C9FF;
  --blue-500: #3A8EBAFF;
  --blue-600: #0079A9FF;
  --blue-700: #005886FF;
  --blue-800: #003862FF;
  --blue-900: #001A3DFF;
  --blue-950: #00011DFF;
  --orange-50: #FFF0B2FF;
  --gray-50: #F9F7F3FF;
  --red-50: #FFDAD5FF;
  --red-100: #FFBCB8FF;
  --red-200: #FF9B97FF;
  --red-300: #FF7876FF;
  --red-400: #F15256FF;
  --red-500: #E3002DFF;
  --red-600: #C80000FF;
  --red-700: #A40000FF;
  --red-800: #7C0000FF;
  --red-900: #520000FF;
  --red-950: #2D0000FF;
  --gray-100: #F2EDE7FF;
  --gray-200: #E6DFD8FF;
  --gray-300: #D4CAC1FF;
  --gray-400: #BAB0A6FF;
  --gray-500: #9F9488FF;
  --gray-600: #847970FF;
  --gray-700: #675E55FF;
  --gray-800: #4A433CFF;
  --gray-900: #2C2620FF;
  --gray-950: #1A1510FF;
  --orange-100: #FFDE97FF;
  --orange-200: #F9CA70FF;
  --orange-300: #EEB740FF;
  --orange-400: #D39400FF;
  --orange-500: #BA6F00FF;
  --orange-600: #9F4C00FF;
  --orange-700: #7E2B00FF;
  --orange-800: #5C0800FF;
  --orange-900: #390000FF;
  --orange-950: #180000FF;
  --cyan-50: #E0FBFEFF;
  --cyan-100: #C4F2F6FF;
  --cyan-200: #A0E2E7FF;
  --cyan-300: #7CCDD4FF;
  --cyan-400: #49B0B8FF;
  --cyan-500: #219199FF;
  --cyan-600: #00727AFF;
  --cyan-700: #00545AFF;
  --cyan-800: #00373CFF;
  --cyan-900: #001C1FFF;
  --cyan-950: #000F10FF;
}